* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
  /* apply styles to <header> */
  header {
      padding: 20px 35px;
      background-color: #39a6b2;
      
  } 
  header h1 {
      font-weight: bold;
      font-size:36px;
      color: #fce138;
      margin: 0;
      display: inline;
  }
  header a {
      text-decoration: none;
      color: #fce138;
  }
header nav {

      float: right;
      margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
}
footer h2 {
    display: inline;
    color: #024e76;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;

}
footer a {
    color: #024e76;

}
section {
    padding: 60px;
}
/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpeg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-form {
    color: #024e76;
    background-color: #fce138;
    padding: 20px;
    width: 500px;
    position: absolute;
    bottom: 120px;
    right: 140px;
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;

}
/* Hero Style End */
  /* 
  Applies 20px to every side (top, right, bottom, left) 
 header {
    padding: 20px;
  }
 
  Applies 20px to the top and bottom, then 35px to the left and right 
  header {
    padding: 20px 35px;
  }
 
  Applies 10px to the top, 15px to the right, 20px to the bottom, 25px to the left (in that specific clockwise order) 
  header {
    padding: 10px 15px 20px 25px;
  }
 
  Explicitly list the side it should be applied to
  header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
  }
  */
